In [1]:
s = "this is my first python programming class and am learNING python string and its function"

In [2]:
# try to extract data from index one to index 300 with a jump of 3
s[:300:3]

'tssyityopgmncsa  aI tntna sutn'

In [3]:
#try to reverse a string without using reverse function
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma dna ssalc gnimmargorp nohtyp tsrif ym si siht'

In [4]:
#try to convert the whole string in upper case
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [6]:
#convert the string into lower case
s.lower()

'this is my first python programming class and am learning python string and its function'

In [7]:
#try to capitalize the whole thing
s.capitalize()

'This is my first python programming class and am learning python string and its function'

In [8]:
#replace a string charecter by another charecter by taking an example 
string = "welcome to Ineuron"
string.replace('t','s')

'welcome so Ineuron'

In [9]:
#try to split a string after conveting the entire string into an upper case
s = "this is my first python programming class and am learNING python string and its function"
t = s.upper()
t.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [13]:
# write a difference between isalnum() and isalpha()
#isalnum() return true if the string is alpha numeric , otherwise false
#isalpha() return true if the string is alphabetic , otherwise false

#lets see an example for isalnum()
s = "911061school"
s.isalnum()

True

In [14]:
#lets see an example for isalpha()
s = "ineuron"
s.isalpha()

True

In [15]:
#example of expand tab
s = "welcome\teveryone"
s.expandtabs()

'welcome everyone'

In [16]:
#example of strip , lstrip , rstrip
a = "     bangalore university     "
#strip function deletes the space in the starting end at the end
a.strip()

'bangalore university'

In [17]:
#lstrip delete the space from left side of the string 
a.lstrip()

'bangalore university     '

In [18]:
#rstrip delete the space at the end 
a.rstrip()

'     bangalore university'

In [21]:
#definition of  a string centre function with ex
# definition: centre() function Return a centered string of length width.

s = 'althaf pasha'
s.center(20,'%')

'%%%%althaf pasha%%%%'